.navbar {
    background: #1d0e15;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color:#218cff !important;
}

.nav-link,
.footer-link {
    text-decoration: none;
    font-size: 0.95rem;
    color: #fff !important;
}

.btn-primary {
    background: #218cff;
    border: none;
}

.btn-primary:hover {
    background: #65c14e;
    color: #fff;
}

.footer {
    background: #218cff;
}

.footer-link {
    cursor: pointer;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer__icon {
    color: #fff;
    cursor: pointer;
    font-size: 2.3rem;
}

.footer__icon:hover {
    color: #fff;
}